<!doctype html>
<html lang="en">
<body>
    <header>
        <a href="/">Random coding knowledge</a>
    </header>
    <main>
        {% if title %}<h1>{{title}}</h1>{% endif %}
        {{content}}
    </main>
</body>
</html>